<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LEVO Glossary</title>

    <base href="/">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css">
    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
    
        <script src="systemjs.config.js"></script>
        <script>
          System.import('main.js').catch(function(err){ console.error(err); });
    </script>


</head>

<body>

    <my-app>Loading AppComponent content here ...</my-app>

<!-- <div class="container-fluid" style="margin-top: 20px;">    
    <div class="row" ng-controller="glossaryIndexController as vm">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner" spinner-theme="smallBlue" spinner-key="shellSpinner"></span>
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">



            <div class="panel panel-primary">
                <div class="panel-heading">
                    Glossary Management
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-success" style="width: 133px; margin-bottom: 5px;" ng-click="vm.addGlossaryItem()">
                                <i class="fa fa-plus"></i> Add Glossary Item
                            </button>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div>Total Elements found : {{vm.glossaryList.length}}</div>
                        <div ng-if="!!vm.glossaryList && vm.glossaryList.length>0">
                            <levo-glossary-grid dt-instance="vm.glossaryDtInstance" glossary-list="vm.glossaryList"></levo-glossary-grid>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div> -->



</body>
</html>
